@{
    ViewBag.Title = "Behave Web Application";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@ViewBag.Title</title>
    @RenderSection("PageHeadSection", required: false)
</head>
<body>
    <section>
        @RenderBody()
    </section>

    <footer>
        <nav>
            <ul>
                <li><a href="/ui">Main</a></li>
                <li><a href="/ui/legacy">Legacy</a></li>
                <li><a href="/ui/users">Users</a></li>
                <li><a href="/ui/habits">Habits</a></li>
                <li><a href="/ui/occurrences">Occurrences</a></li>
            </ul>
        </nav>
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    @RenderSection("PageJavaScript", required: false)
</body>
</html>
