body {
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0.0);
}

nav li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

#status {
    background-color: #e0e0e0;
    font-weight: bold;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    padding: 15px;
    border-radius: 10px;
}
