* {
	padding:0;
	margin:0;
	position: relative;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color:#282828;
	background-color: #f0f0f0;
	-webkit-user-select: none;
}
header,
footer {
	text-align: center;
}
nav {
	
}
nav li{
	display: inline-block;
	margin-top: 2em;
}
nav a{
	text-decoration: none;
	display: block;
	line-height: 3em;
	color:#282828;
	background-color: #f8f8f8;
	border: 1px solid rgba(0,0,0,0.30);
	border-radius: 0.5em;
}
header nav li{
	width: 30%;
}
header nav li:last-of-type{
	width: initial;
	margin-bottom: 2em;
}
footer nav li{
	overflow: hidden;
}
footer nav a{
	line-height: 1em;
	padding: 0.3em;
}
#habitsList li {
	list-style: none;
	line-height: 600%;
	white-space:nowrap;
	padding: 0 1em;
	font-weight: bold;
	border-bottom: 1px solid rgba(0,0,0,0.30);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%); /* W3C */
}
#habitsList li:first-of-type{
	border-top: 1px solid rgba(0,0,0,0.10);	
}

#habitsList .deemedGreat {
	background-color: #62d962;
}
#habitsList .deemedGreat:after {
	content: " (♥∀♥ ✿)"
}

#habitsList .deemedGood {
	background-color: #ffd320;
}
#habitsList .deemedGood:after {
	content: " (●´∀｀●)"
}

#habitsList .deemedOkay {
	background-color: #d8a675;
}
#habitsList .deemedOkay:after {
	content: " (´･_･`)"
}

#habitsList .deemedBad {
	background-color: #ef540c;
}
#habitsList .deemedBad:after {
	content: " щ(ಠ益ಠщ)"
}
