#habitsForDay {
    -webkit-user-select: none;
    list-style-type: none;
    padding: 0;
    margin: 0 -8px;
}

#habitsForDay li {
    padding: 20px;
    cursor: pointer;
    margin: 0px;
    border-top: 1px solid #808080;

    font-weight: bold;
    font-size: 1.0em;
    background-color: #ffbbb4;
    text-align: center;
}

#habitsForDay li[data-occurrences] {
    opacity: 0.7;
    font-size: 0.9em;
    background-color: #a4f4ff;
}
