* {
	padding:0;
	margin:0;
	position: relative;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color:#282828;
	background-color: #f0f0f0;
}
header,
footer {
	text-align: center;
}
nav {
	
}
nav li{
	display: inline-block;
	margin-top: 2em;
}
nav a{
	text-decoration: none;
	display: block;
	line-height: 3em;
	color:#282828;
	background-color: #f8f8f8;
	border: 1px solid rgba(0,0,0,0.30);
	border-radius: 0.5em;
}
header nav li{
	width: 30%;
}
header nav li:last-of-type{
	width: initial;
	margin-bottom: 2em;
}
footer nav li{
	min-width: 80%;
	overflow: hidden;
}
footer nav li:last-of-type{

}
#habitsList li {
	list-style: none;
	line-height: 3em;
	white-space:nowrap;
	padding: 0 2em;
	border-bottom: 1px solid rgba(0,0,0,0.30);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%); /* W3C */
}
#habitsList li:first-of-type{
	border-top: 1px solid rgba(0,0,0,0.10);	
}
.deemedGreat,
#habitsList li:nth-of-type(1) {
	background-color: #62d962;
}
.deemedGood,
#habitsList li:nth-of-type(2) {
	background-color: #ffd320;
}
.deemedOkay,
#habitsList li:nth-of-type(3) {
	background-color: #d8a675;
}
.deemedBad,
#habitsList li:nth-of-type(4) {
	background-color: #ef540c;
}


#habitsList li:nth-of-type(1):after {
	content: " (♥∀♥ ✿)"
}
#habitsList li:nth-of-type(2):after {
	content: " (●´∀｀●)"
}
#habitsList li:nth-of-type(3):after {
	content: " (´･_･`)"
}
#habitsList li:nth-of-type(4):after {
	content: " щ(ಠ益ಠщ)"
}
