@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<header>
    <h1>Wednesday 3/5/2014</h1>
    <nav>
        <ul>
            <li><a href="?date=(yesterday)">Yesterday</a></li>
            <li><a href="?date=(tomorrow)">Tomorrow</a></li>
        </ul>
    </nav>
</header>

<ul id="entries">
    <li>A habit that was not done today</li>
    <li>This needs to be done, also</li>
    <li>Don't forget this one</li>
    <li>Instead, remember this one</li>
    <li class="done">This habit was done today</li>
    <li class="done">So was this one</li>
    <li class="done">i.e. there was an occurrence for this habit on this date</li>
</ul>

<div id="status">Initializing</div>

@section PageHeadSection {
    <link rel="stylesheet" href="/content/css/uimain.css"/>
}
@section PageJavaScript {
    <script src="/content/javascript/uimain.js"></script>
}