@{
    ViewBag.Title = "Habits";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Users User Interface</h2>

@section PageHeadSection {
    <link rel="stylesheet" href="/content/css/base.css" />
}